.carousel {
  width:760px;
  margin: auto;
}




@media (max-width: 760px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

footer{

  background-color: #343a40 !important;
  margin-top: 2rem!important;
  text-align: center;
  color: white;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}