.carousel {
  width:900px;
  margin: auto;
}

.centerColumn {
  width:1240px;
  margin: auto;
}


@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.footer{
  bottom: 0px;
  background-color: #343a40 !important;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
}