.container{
  min-height: 700px;
}

@media (max-width: 760px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

footer{
  
  background-color: #343a40 !important;
  margin-top: 2rem!important;
  text-align: center;
  color: white;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.card{
  margin-top:2.5rem!important;
  margin-bottom:2.5rem!important;
  border: 1px solid rgba(0,0,0,.25);
}

.dropdown-toggle::after{
  display:none;
}

.pagenavcomp{
  display: inline-block;
  width: 40px;
  height: 30px;
  text-align: center;
}

#dropdown-basic{
  border: solid .5px black;
}

.pagenav{
  margin:auto;
  width: 160px;
}

.dropdown-item:hover{
  background-color: lightblue;
}

.col-md-8{
  margin-top: 1.5rem;
}

img{
  max-height: 400px;
}

.card-header{
  background-color: rgba(0,0,0,.08);
}

.card-footer{
  background-color: rgba(0,0,0,.08);
}

.taglinks{
  margin-right: 10px;
  padding: .65rem;
  background-color: lightblue;
  border-radius: 5px;
}

.article{
  margin-top: 3rem;
  margin-bottom: 3rem;
}